.header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px var(--header-shadow-color);
  position: relative;
}

.header__firstContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.auth {
  display: flex;
  column-gap: 10%;
  width: 200px;
  height: 100%;
  align-items: center;
  position: absolute;
  right: 20px;
}

.auth__avatar {
  margin-right: 10%;
  max-width: 100px;
  width: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 0 7px var(--card-text-color);
}

.ref {
  display: block;
  width: 100%;
}
